[Desktop Entry]
Version=1.0
Name=Ventoy
Exec={{ventoy.destination }}/ventoy/ventoy-{{ ventoy.version }}/VentoyGUI.{{ ansible_architecture }}
Comment=A new bootable USB solution.
Terminal=false
Type=Application
Categories=Development;Utility;
