.DS_Store
.fact_cache
.vscode
hosts
!hosts_example
group_vars/*
!group_vars/all/vars.yml
host_vars/*
/roles/test_role
check_disk_space.yml
!tasks/check_disk_space.yml
test_something.yml
test_something_roles.yml
vault_*
!vault_pass.sh
TODO.md
logs.log
!.gitkeep
!*/.gitkeep
