.DS_Store
.fact_cache
.vscode
hosts
!hosts_example
#/group_vars/
!/group_vars/.gitkeep
!/group_vars/all/vars.yml
/host_vars/
!/host_vars/.gitkeep
/roles/remarkable_templates_and_splashscreen/files
!/roles/remarkable_templates_and_splashscreen/files/.gitkeep
!/roles/remarkable_templates_and_splashscreen/files/splashscreens_to_copy/.gitkeep
!/roles/remarkable_templates_and_splashscreen/files/templates_to_copy/.gitkeep
check_disk_space.yml
!tasks/check_disk_space.yml
test_something.yml
test_something_roles.yml
vault_*
!vault_pass.sh
!.gitkeep
!/**/.gitkeep
TODO.md
logs.log
