[Desktop Entry]
Version=1.0
Name=Tor Browser Bundle
Exec={{tor_browser_bundle.destination }}/tor_browser_bundle/tor-browser/Browser/start-tor-browser
Icon={{tor_browser_bundle.destination }}/tor_browser_bundle/tor-browser/Browser/browser/chrome/icons/default/default128.png
Comment=Anonym Surfen
Terminal=false
Type=Application
Categories=Network;
