[Desktop Entry]
Version=1.0
Name=Amazon Prime Music
Exec=google-chrome --start-maximized https://music.amazon.de/playlists
Icon=/usr/share/icons/hicolor/48x48/apps/amazon_prime_music.png
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo;Audio;
