#!/bin/sh
#
# cron script to remove old revisions of installed snaps
#see https://kofler.info/unter-ubuntu-alte-snap-pakete-loeschen/

snap list --all | awk '/disabled/{print $1, $3}' |
  while read snapname revision; do
      snap remove "$snapname" --revision="$revision"
  done
