[Desktop Entry]
Version=1.0
Name=Amazon Prime Video
Exec=google-chrome --start-fullscreen --start-maximized https://www.amazon.de/gp/video/watchlist/
Icon=/usr/share/icons/hicolor/48x48/apps/amazon_prime_video.png
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo;Video;
